/* CSS Document */
/* CSS Resent */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #e4f2ea;
}

header {
	min-height: 300px;
	background-image: url("../images/home_beagle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 10% 0;
}

.hnav {
	padding: 5px 0;
	width: 100%;
	background-color: #11181E;
	min-height: 50px;
	
}

.hnav ul {
	display: block;
	text-align: center;
}

.hnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.hnav a {
	color: #e4f2ea;
	text-decoration: none;
	font-size: 1.5em;
}

.hnav a:hover {
	text-decoration: line-through;
	color: beige;
}

h1 {
	
}

h2 {
	
}

blockquote {
	
}

table {
	
}

.fnav {
	background-color: #11181E;
	min-height: 50px;
	width: 100%;
	
}

.fnav ul {
	display: block;
	text-align: center;
}

.fnav ul li {
	display: inline-block;
	list-style: none;
	width: 8%;
	margin-top: .8%;
}

.fnav a {
	color: #e4f2ea;
	text-decoration: none;
	font-size: .8em;
}

.fnav a:hover {
	text-decoration: line-through;
	color: beige;
}

.fairuse {
	background-color: #11181E;
	color: #e4f2ea;
	font-size: 5px;
	text-align: center;
}